
$primary-1: #000000;
$primary-2: #FFFFFF;

$secondary-1: #F5F5F5;
$secondary-2:#FEFAF1;
$secondary-3: #DB4444;

$text-1:#FAFAFA;
$text-2:#7D8184;
$text-3:#7D8184;

$grey:#F5F5F5;

$button: #DB4444;
$button-hover:#E07575;

.banner-font{
    font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
}

.banner-link{
    text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 21px; /* 171.429% */
text-decoration-line: underline;
}


.banner{
    background-color: $primary-1;
}

.input-filed{
    background-color: $secondary-1;
}

.offer-text{
    color: $text-1;
}


.input-group{
    gap: 34px;
    padding: 7px 12px 7px 20px;
   
}

.form-control{
    background-color: $secondary-1;
    padding:  0 0 0 0;
    border: none;
}

.input-group-text{
    border: none;
}

.input-group-text{
    padding:  0 0 0 0;
    
}

::-webkit-input-placeholder{
    font-family: Poppins;
font-size: 12px !important;
font-style: normal;
font-weight: 400;
line-height: 18px;
color: $text-2;
  }

.navbar-brand{
    font-family: inter;
    font-size: 24px;
    letter-spacing: 3%;
    font-weight: 700;
}  

