
<div class="banner ">
    <div class="d-flex justify-content-center py-2" style="gap: 8px;">
      <div class="offer-text banner-font">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</div>
      <div class="banner-link"><a class=" text-white" href="#">ShopNow</a></div>
    </div>
  </div>
  
  <div>
  
    <nav class="navbar navbar-expand-lg justify-content-auto" style="padding-right: 75px;padding-left: 75px;" >
      
      <div class="container-fluid" style="margin-top: 20px">
        
        <div>
          <a class="navbar-brand" href="#">Exclusive</a>
        </div>
      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse " id="navbarSupportedContent"  style="flex-grow: 0;gap: 148px;">
  
          <ul class="navbar-nav">
           <div class="d-flex justify-content-center" style="gap: 48px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" [routerLink]="['./home']">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" >Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">SignUp</a>
              </li>
            </div> 
        </ul>
           
  
          <form  role="search" class="d-flex" style="gap: 24px;">
            
            <div class="d-flex input-filed">
              <div class="input-group">
                <input type="text" class="form-control  rounded-0" placeholder="What are you looking for?" aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                  <button class="input-group-text" id="basic-addon1"><img src="assets/search.svg"></button>
                </div>
              </div>
            </div>
  
            <div class="d-flex" style="gap: 16px;">
               <img src="assets/wishlist.svg">

               <button style="border: none;" type="button"  
               [routerLink]="['./cart']">
               <img src="assets/cart1.svg">
              </button>
               
            </div>
          </form>
  
        </div>
      </div>
    </nav>
  
  
  </div>

  <hr>
  