

<div style="padding-left: 135px; padding-right: 135px;margin-top: 60px;">



  <div class="d-flex flex-column" style="gap: 70px">

    <div id="slider">
      <figure>
          <img class="adv-img" src="assets/adv-iphone15.jpg">
          <img class="adv-img" src="assets/adv-samsung-watch.jpg">
          <img class="adv-img" src="assets/adv-boat-headphone.webp">
      </figure>
    </div>

    <div class="d-flex flex-column" style="gap: 60px">
      <div class="d-flex flex-column" style="gap: 20px">
        <div class="d-flex align-items-center" style="gap: 16px">
          <div class="rectangle"></div>
          <div class="category">Category</div>
        </div>

        <div class="browseCategory">Browse By Category</div>
      </div>

      <div class="d-flex justify-content-between flex-wrap">
        <div
          class="d-inline-flex flex-column border border-light-subtle"
          style="padding: 25px 56px 24px 55px"
        >
          <img src="assets/category-cellPhone.svg" />
          <div class="d-flex justify-content-center">
            <div>Phone</div>
          </div>
        </div>

        <div
          class="d-inline-flex flex-column border border-light-subtle"
          style="padding: 25px 56px 24px 55px"
        >
          <img src="assets/category-cellPhone.svg" />
          <div class="d-flex justify-content-center">
            <div>Phone</div>
          </div>
        </div>

        <div
          class="d-inline-flex flex-column border border-light-subtle"
          style="padding: 25px 56px 24px 55px"
        >
          <img src="assets/category-cellPhone.svg" />
          <div class="d-flex justify-content-center">
            <div>Phone</div>
          </div>
        </div>

        <div
          class="d-inline-flex flex-column border border-light-subtle"
          style="padding: 25px 56px 24px 55px"
        >
          <img src="assets/category-cellPhone.svg" />
          <div class="d-flex justify-content-center">
            <div>Phone</div>
          </div>
        </div>

        <div
          class="d-inline-flex flex-column border border-light-subtle"
          style="padding: 25px 56px 24px 55px"
        >
          <img src="assets/category-cellPhone.svg" />
          <div class="d-flex justify-content-center">
            <div>Phone</div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <hr />
    </div>

    <div>
      <div class="d-flex flex-column" style="gap: 20px">
        <div class="d-flex align-items-center" style="gap: 16px">
          <div class="rectangle"></div>
          <div class="category">Category</div>
        </div>
        <div class="browseCategory">Explore Our Products</div>
      </div>
    </div>
  </div>  

    <div >
      <div  class="d-flex justify-content-between flex-wrap">
        <div >
          <div
            class="cards d-flex flex-column"
            style="height: 322px; width: 270px;margin-top: 60px"
          >
            <div
              class="cards-show d-flex flex-column align-items-center justify-content-center"
              style="
                height: 250px;
                width: 270px;
                background-color: rgb(172, 172, 253);
              "
            >

              <div>
                <img class="cart-img" src="assets/laptop.svg" />
              </div>

              <div>

                <div class="button-add-to-cart" style="margin-top: 26px;">
                  <button
                    style="
                      width: 270px;
                      height: 41px;
                      border-radius: 0px 0px 4px 4px;
                      background: var(--Button, #000);
                      color: white;
                    "
                  >
                    Add To Cart
                  </button>
                </div>
              </div>
              
            </div>
            

            <div>
              <div
                style="
                  color: #000;
                  font-family: Poppins;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 24px;
                "
              >
                Asus i5 laptop
              </div>
              <div
                style="
                  color: var(--Secondary-2, #db4444);
                  /* Title/16PX Medium */
                  font-family: Poppins;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 24px;
                "
              >
                $700
              </div>
            </div>
          </div>
        </div>















        <div >
          <div
            class="cards d-flex flex-column"
            style="height: 322px; width: 270px;margin-top: 60px"
          >
            <div
              class="cards-show d-flex flex-column align-items-center justify-content-center"
              style="
                height: 250px;
                width: 270px;
                background-color: rgb(172, 172, 253);
              "
            >

              <div>
                <img class="cart-img" src="assets/remote.svg" />
              </div>

              <div>

                <div class="button-add-to-cart" style="margin-top: 26px;">
                  <button
                    style="
                      width: 270px;
                      height: 41px;
                      border-radius: 0px 0px 4px 4px;
                      background: var(--Button, #000);
                      color: white;
                    "
                  >
                    Add To Cart
                  </button>
                </div>
              </div>
              
            </div>
            

            <div>
              <div
                style="
                  color: #000;
                  font-family: Poppins;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 24px;
                "
              >
                Asus i5 laptop
              </div>
              <div
                style="
                  color: var(--Secondary-2, #db4444);
                  /* Title/16PX Medium */
                  font-family: Poppins;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 24px;
                "
              >
                $700
              </div>
            </div>
          </div>
        </div>












        <div >
          <div
            class="cards d-flex flex-column"
            style="height: 322px; width: 270px;margin-top: 60px"
          >
            <div
              class="cards-show d-flex flex-column align-items-center justify-content-center"
              style="
                height: 250px;
                width: 270px;
                background-color: rgb(172, 172, 253);
              "
            >

              <div>
                <img class="cart-img" src="assets/remote.svg" />
              </div>

              <div>

                <div class="button-add-to-cart" style="margin-top: 26px;">
                  <button
                    style="
                      width: 270px;
                      height: 41px;
                      border-radius: 0px 0px 4px 4px;
                      background: var(--Button, #000);
                      color: white;
                    "
                  >
                    Add To Cart
                  </button>
                </div>
              </div>
              
            </div>
            

            <div>
              <div
                style="
                  color: #000;
                  font-family: Poppins;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 24px;
                "
              >
                Asus i5 laptop
              </div>
              <div
                style="
                  color: var(--Secondary-2, #db4444);
                  /* Title/16PX Medium */
                  font-family: Poppins;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 24px;
                "
              >
                $700
              </div>
            </div>
          </div>
        </div>



















        <div >
          <div
            class="cards d-flex flex-column"
            style="height: 322px; width: 270px;margin-top: 60px"
          >
            <div
              class="cards-show d-flex flex-column align-items-center justify-content-center"
              style="
                height: 250px;
                width: 270px;
                background-color: rgb(172, 172, 253);
              "
            >

              <div>
                <img class="cart-img" src="assets/laptop.svg" />
              </div>

              <div>

                <div class="button-add-to-cart" style="margin-top: 26px;">
                  <button
                    style="
                      width: 270px;
                      height: 41px;
                      border-radius: 0px 0px 4px 4px;
                      background: var(--Button, #000);
                      color: white;
                    "
                  >
                    Add To Cart
                  </button>
                </div>
              </div>
              
            </div>
            

            <div>
              <div
                style="
                  color: #000;
                  font-family: Poppins;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 24px;
                "
              >
                Asus i5 laptop
              </div>
              <div
                style="
                  color: var(--Secondary-2, #db4444);
                  /* Title/16PX Medium */
                  font-family: Poppins;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 24px;
                "
              >
                $700
              </div>
            </div>
          </div>
        </div>


       


        
      </div>
    </div>
 
</div>
