<!-- Footer -->
<footer class="bg-dark  text-white ">
    <!-- Grid container -->
    <div class="container" style="min-width: 0 ; padding-top: 80px;padding-bottom: 60px;padding-left: 0px;
    padding-right: 0px;">
    
  
    
        <!--Grid row-->
        <div class="row m-0" style="grid-column-gap: 87px;" >
          <!--Grid column-->
          <div class="col " style="padding: 0px 0px 0px 0px; row-gap: 18px;display: grid;max-width: 217px;">

            <div style="row-gap: 24px;display: grid;">
                  
                <div>
                    <h5 class="text-uppercase text-start m-0" >Exclusive</h5>
                </div>
                 
            
                    <ul class="list-unstyled m-0" style="row-gap: 24px;display: grid;">
                        <li class="text-start">
                           <a href="#!" class="text-white">Subscribe</a>
                        </li>
                        <li class="text-start">
                           <a href="#!" class="text-white">Get 10% off your first order</a>
                        </li>
                    </ul>

                

            </div>
            <ul class="list-unstyled m-0 ">
              <li class="text-start">
                  <div class="d-flex border border-white col-xs-3" style="padding: 12px 0px 12px 16px;gap: 32px;width: fit-content">
                     <input type="text" class="form-control footer-search bg-dark border-0 rounded-0" placeholder="Enter your email?" aria-label="Username" aria-describedby="basic-addon1">
                     <div>
                         <button class="input-group-text bg-dark border-0" style="padding: 0px 0px 0px 0px;"id="basic-addon1"><img src="assets/icon-send.svg"></button>
                     </div>
                  </div>
              </li>
              </ul>
          </div>
          <!--Grid column-->
  



          <!--Grid column-->
          <div class="col" style="padding: 0px 0px 0px 0px;max-width: 178px;">
            <div style="row-gap: 24px;display: grid;">
               <div>
                  <h5 class="text-uppercase text-start m-0">Support</h5>
               </div>
            
  
               <ul class="list-unstyled" style="row-gap: 16px;display: grid;">
                 <li class="text-start">
                   <a href="#!" class="text-white">111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh</a>
                 </li>
                 <li class="text-start">
                   <a href="#!" class="text-white">exclusive@gmail.com</a>
                 </li>
                 <li class="text-start">
                   <a href="#!" class="text-white">+88015-88888-9999</a>
                 </li>
              </ul>
           </div>   
        </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col" style="padding: 0px 0px 0px 0px;row-gap: 24px;display: grid;max-width: 123px;">
            <h5 class="text-uppercase text-start m-0">Account</h5>
  
            <ul class="list-unstyled" style="row-gap: 16px;display: grid;">
              <li class="text-start ">
                <a href="#!" class="text-white ">My Account</a>
              </li>
              <li class="text-start">
                <a href="#!" class="text-white">Login / Register</a>
              </li>
              <li class="text-start">
                <a href="#!" class="text-white">Cart</a>
              </li>
              <li class="text-start">
                <a href="#!" class="text-white">Wishlist</a>
              </li>
              <li class="text-start">
                <a href="#!" class="text-white">Shop</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col" style="padding: 0px 0px 0px 0px;max-width: 109px;">

            <div style="row-gap: 24px;display: grid;">
            <div>
                <h5 class="text-uppercase text-start m-0">Quick Link</h5>
            </div>
                
            
                <ul class="list-unstyled m-0" style="row-gap: 16px;display: grid;">
                    <li class="text-start">
                      <a href="#!" class="text-white">Privacy Policy</a>
                    </li>
                    <li class="text-start">
                      <a href="#!" class="text-white">Terms Of Use</a>
                    </li>
                    <li class="text-start">
                      <a href="#!" class="text-white">FAQ</a>
                    </li>
                    <li class="text-start">
                      <a href="#!" class="text-white">Contact</a>
                    </li>
                   </ul>
            </div>
             
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col" style="padding: 0px 0px 0px 0px;">

            <div style="display: grid;row-gap: 24px;">
                
                    <h5 class="text-uppercase text-start m-0">Download App</h5>
              
                
                
                    <ul class="list-unstyled m-0" style="display: grid;row-gap: 8px;">
                        <li class="text-start">
                          <a href="#!" class="text-white">Save $3 with App New User</a>
                        </li>
          
                        <li>
                          <div class="d-flex" style="gap: 8px;">
                              <div> <img src="assets/QrCode.svg"> </div>
                              <div style="gap: 4px;">
                                 <div> <img src="assets/GooglePlay.svg"> </div>
                                 <div> <img src="assets/AppStore.svg"> </div>
                              </div>
                          </div>
                        </li>
                      </ul>
          
                </div>
            
  
            

              <ul class="list-unstyled m-0">
              <li>
                <div class="d-flex" style="gap: 24px;">
                    <div>
                        <img src="assets/Icon-Facebook.svg"> 
                    </div>
                    <div>
                        <img src="assets/Icon-Twitter.svg"> 
                    </div>
                    <div>
                        <img src="assets/Icon-LinkdIn.svg">
                    </div>
                    <div>
                        <img src="assets/Icon-Instragram.svg"> 
                    </div>
                </div>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->