<div>

    <div class="d-inline-flex justify-content-center" style="gap: 128px;">
    
        <img src="assets/Side-Image.svg">
    
        <div class="d-flex flex-column  justify-content-center">
            <h1 class="account">Create an account</h1>
            <button type="button" class="btn btn-white border" style="padding: 16px 86px;border: 1px solid rgba(0, 0, 0, 0.25);">
                <div class="d-flex" style="gap: 16px;">
                    <img src="assets/Icon-Google.svg">
                    <div>Sign Up with Google</div>
                </div>
            </button>
        </div>
    
    
    </div>

</div>

